on init
#    write /sys/class/usb_composite/adb/enable 0
#    write /sys/class/usb_composite/modem/enable 0
#    write /sys/class/usb_composite/nmea/enable 0
#    write /sys/class/usb_composite/usb_mass_storage/enable 0
#    write /sys/class/usb_composite/diag/enable 0
#    write /sys/class/usb_composite/mtp/enable 0
#    write /sys/class/usb_composite/rndis/enable 0

#on boot
on property:sys.usb.config=adb
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage
    write /sys/class/usb_composite/mass_storage/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=adb,mass_storage
    write /sys/class/usb_composite/mass_storage/enable 1
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis
    write /sys/class/usb_composite/rndis/enable 1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis,adb
    write /sys/class/usb_composite/rndis/enable 1
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage,rndis,adb
    write /sys/class/usb_composite/usb_mass_storage/enable 1
    write /sys/class/usb_composite/rndis/enable 1
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

