on early-boot
    #Run pre_hw_config.sh before entering charge only mode.
    exec /sbin/sh /system/etc/pre_hw_config.sh
    # Boot into recovery
    exec /sbin/bootrec

on boot
    # QMUD / QMI keeps its sockets in here
    mkdir /data/radio 0770 radio radio

    # Create the directories used by the Wireless subsystem
    # give system access to wpa_supplicant.conf for backup and restore
    chown wifi wifi /data/misc/wifi
    mkdir /data/misc/wifi/sockets 0771 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0771 wifi wifi
    mkdir /data/misc/wifi/hostapd 0775 wifi wifi
    chmod 0770 /data/misc/wifi
    chown wifi wifi /data/misc/wifi/wpa_supplicant.conf
    chmod 0666 /data/misc/wifi/wpa_supplicant.conf
    chmod 0777 /data/misc/wifi/hostapd
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp system /data/misc/dhcp

    # nvimport FIX
    mkdir /data/etc/ 0775
    mkdir /data/etc/wifi 0775

    # bluetooth power up/down interface
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660                /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chown system system /sys/module/sco/parameters/disable_esco

    # bluetooth MAC address programming
    chown bluetooth bluetooth /proc/bt_mac_addr
    setprop ro.bt.bdaddr_path /proc/bt_mac_addr

    # Permissions for Liblights.
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/trigger
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/trigger
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/trigger
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/als/curve
    chown system system /sys/class/leds/keyboard-backlight/brightness
    chown media media /sys/class/leds/tally-light/brightness

    # Change rights for the AKM8975 devices
    chmod 0644 /dev/akm8975_dev
    chown compass system /dev/akm8975_dev

    # enable the GPS
    setprop ro.ril.def.agps.mode 2

    # performance tweaks for flash
    write /sys/block/mtdblock1/bdi/read_ahead_kb 4
    write /sys/block/mtdblock2/bdi/read_ahead_kb 4
    write /sys/block/mtdblock3/bdi/read_ahead_kb 4

    # Wakelock debug
    write /sys/module/wakelock/parameters/debug_mask 7

#    # Better power-management
#    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand
#    write /sys/devices/system/cpu/cpu0/cpufreq/ondemand/up_threshold 90
#    write /sys/devices/system/cpu/cpu0/cpufreq/ondemand/sampling_rate 75000
#    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 245760

    # Fix permissions for KGSL
    chmod 0666                /dev/kgsl-2d0
    chmod 0666                /dev/kgsl-3d0

    # Fix permissions for Audio
    chmod 0666       /dev/snd/timer
    chmod 0666       /dev/snd/controlC0
    chmod 0666       /dev/snd/pcmC0D0c
    chmod 0666       /dev/snd/pcmC0D0p
    chmod 0666       /dev/msm_aac_in
    chmod 0666       /dev/msm_amrnb_in
    chmod 0666       /dev/msm_fm

    chmod 0666 /dev/mtp

    # LM35xx/cameralight
    chown system system /sys/devices/i2c-0/0-0053/torch_enable
    chown system system /sys/devices/i2c-0/0-0053/torch_current
    chown system system /sys/devices/i2c-0/0-0053/cm_torch
    chown system system /sys/devices/i2c-0/0-0053/privacy_enable
    chown system system /sys/devices/i2c-0/0-0053/privacy_current
    chown system system /sys/devices/i2c-0/0-0053/flash_enable
    chown system system /sys/devices/i2c-0/0-0053/flash_duration
    chown system system /sys/devices/i2c-0/0-0053/flash_synchronization
    chown system system /sys/devices/i2c-0/0-0053/flash_current
    chown system system /sys/devices/i2c-0/0-0053/status

    #fix for Torch
    chmod 0666 /sys/devices/i2c-0/0-0053/torch_enable
    chmod 0666 /sys/devices/i2c-0/0-0053/torch_current
    chmod 0666 /sys/devices/i2c-0/0-0053/cm_torch

    # Owner for the proximity sensor
    chown system system /sys/devices/i2c-0/0-0054/threshold

    # Fix permissions for bma150 (accelerometer). Can be at different adresses.
    chown system system /sys/devices/i2c-0/0-0038/rate
    chown system system /sys/devices/i2c-4/4-0038/rate

    chmod 0666 /sys/devices/i2c-0/0-0054/nburst
    chmod 0666 /sys/class/leds/lcd-backlight/als/enable

    # Default tcp buffersizes for hsdpa
    setprop net.tcp.buffersize.hsdpa 5840,87380,165467,4096,16384,110208
    setprop net.tcp.buffersize.hspa 5840,87380,165467,4096,16384,110208

on property:init.svc.bluetoothd=running
    write /sys/devices/virtual/bluetooth/hci0/link_supervision_timeout 6400

service wlan_loader /system/bin/wlan_loader -i /etc/wifi/tiwlan.ini -f /etc/wifi/tiwlan_firmware.bin -e /data/etc/wifi/fw
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant -Dtiwlan0 -itiwlan0 -c/data/misc/wifi/wpa_supplicant.conf
    socket wpa_tiwlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_tiwlan0 /system/bin/dhcpcd -ABKL tiwlan0
    disabled
    oneshot

service iprenew_tiwlan0 /system/bin/dhcpcd -n tiwlan0
    disabled
    oneshot

service ifcfg_up /system/bin/ifconfig tiwlan0 up
    disabled
    oneshot

service hciattach /system/bin/hciattach -n /dev/ttyHS0 texas 3000000
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin
    disabled
    oneshot

service wlan_ap_loader /system/bin/tiap_loader.sh
    disabled
    oneshot

service hostapd /system/bin/hostap /data/misc/wifi/hostapd.conf
    disabled
    oneshot

service port-bridge /system/bin/port-bridge /dev/smd0 /dev/ttyGS0 &
    disabled
    oneshot

service qmuxd /system/bin/qmuxd

service akmd8975 /system/bin/akmd8975

service hw_config /sbin/sh /system/etc/hw_config.sh
	user root
	oneshot

on early-boot
    # Start touch firmware loader
    exec /system/bin/cy8ctma300_fwloader -dev /sys/devices/platform/spi_qsd.0/spi0.0 -no_condition

on boot
    chown system system /sys/kernel/hdmi_sii_kset/hdmi_sii_kobj/hdmi_sii_state_obj
    chmod 0600 /sys/kernel/hdmi_sii_kset/hdmi_sii_kobj/hdmi_sii_state_obj

    chown system system /dev/i2c-0
    chown system system /dev/uio0
    chown system system /sys/class/leds/button-backlight-rgb1/brightness
    chown system system /sys/class/leds/button-backlight-rgb2/brightness


# Net mgr
service netmgrd /system/bin/netmgrd -E

on property:ro.use_data_netmgrd=false
    # netmgr not supported on specific target
    stop netmgrd

service nvcustomizer /system/bin/nvcustomizer
    user root
    oneshot

# Copy calibration data from NV to kernel drivers
service nvimport /system/bin/nvimport
    user root
    oneshot

service hdmid /system/bin/hdmid
    user  system
    group inet

service touchd /system/bin/touchd
    user root

service slidercounter /system/bin/slidercounter keypad-mango
