/dev/diag                0666   root    root
/dev/msm_rotator         0664   system  system
/dev/msm_vidc_dec        0660   system  audio
/dev/msm_vidc_enc        0660   system  audio
/dev/msm_vidc_reg        0660   system  audio
/dev/gemini0             0666   system  camera
/dev/msm_vpe             0666   system  system
/dev/bma250              0640   compass system
/dev/msm_aac*            0660   system  audio
/dev/usb_accessory       0660   root    usb
/dev/mtd/mtd0            0660   media   media
/dev/i2c-2               0660   media   media
/dev/tiler               0777   system  system
/dev/dmm                 0777   system  system
/dev/kgsl-2d0            0666   system  graphics
/dev/kgsl-3d0            0666   system  graphics
/dev/genlock             0666   system  graphics
/dev/snd/timer           0666   audio   audio
/dev/snd/controlC0       0666   audio   audio
/dev/snd/pcmC0D0c        0666   audio   audio
/dev/snd/pcmC0D0p        0666   audio   audio
/dev/msm_aac_in          0666   audio   audio
/dev/msm_amrnb_in        0666   audio   audio
/dev/msm_fm              0666   audio   audio
/dev/mtp                 0666   system  system
/dev/akm8975_dev         0644   compass system
/dev/oncrpc/30000017:*   0660   radio   radio
/dev/oncrpc/30000000:*   0660   radio   radio
/dev/oncrpc/30000016:*   0660   radio   radio
/dev/oncrpc/3000003c:*   0660   radio   radio
/dev/oncrpc/30000019:*   0660   radio   radio
/dev/oncrpc/3000000e:*   0660   radio   radio
/dev/oncrpc/30000012:*   0660   radio   radio
/dev/oncrpc/30000003:*   0660   radio   radio
/dev/oncrpc/3000001b:*   0660   radio   radio
/dev/oncrpc/3000006b:*   0660   radio   system
/dev/ttyHS0              0660   bluetooth bluetooth
/dev/msm_camera/*        0660   system  camera
/dev/rfkill              0660   wifi    wifi
/dev/smd4                0660   system  system
/dev/smd7                0640   radio   radio
/dev/smdcntl0            0640   radio   radio
/dev/smdcntl1            0640   radio   radio
/dev/smdcntl2            0640   radio   radio
/dev/smdcntl3            0640   radio   radio
/dev/smdcntl4            0640   radio   radio
/dev/smdcntl5            0640   radio   radio
/dev/smdcntl6            0640   radio   radio
/dev/smdcntl7            0640   radio   radio
/dev/msm_mvs             0660   system  audio
/dev/msm_evrc            0660   system  audio
/dev/msm_evrc_in         0660   system  audio
/dev/msm_pcm_lp_dec      0660   system  audio
/dev/msm_qcelp           0660   system  audio
/dev/msm_qcelp_in        0660   system  audio
/dev/msm_wma             0660   system  audio
/dev/msm_wmapro          0660   system  audio
/sys/devices/i2c-0/0-0053/flash_current 0666 system system
/sys/devices/i2c-0/0-0053/flash_duration 0666 system system
/sys/devices/i2c-0/0-0053/flash_enable 0666 system system
/sys/devices/i2c-0/0-0053/flash_synchronization 0666 system system
/sys/devices/i2c-0/0-0053/privacy_current 0666 system system
/sys/devices/i2c-0/0-0053/privacy_enable 0666 system system
/sys/devices/i2c-0/0-0053/torch_current 0666 system system
/sys/devices/i2c-0/0-0053/torch_enable 0666 system system
/sys/devices/platform/msm_hsusb_host.0/usb* uevent 0660 root usb
/sys/devices/virtual/input/input*   enable      0660  root   input
/sys/devices/virtual/input/input*   poll_delay  0660  root   input
/sys/devices/virtual/input/input*   bma250_rate        0640  system   system
/sys/devices/virtual/input/input*   bma250_range       0640  system   system
/sys/devices/virtual/input/input*   bma250_resolution  0640  system   system
/sys/devices/virtual/input/input*   bmp180_rate        0640  system   system
/sys/devices/virtual/input/input*   bmp180_resolution  0640  system   system
/sys/devices/i2c-0/0-0040/leds/* delay_on  0644 system system
/sys/devices/i2c-0/0-0040/leds/* delay_off 0644 system system
